In [11]:
from alpha_vantage.timeseries import TimeSeries
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [ ]:
ts = TimeSeries(key='ZWEMWX7WWUOZSJOF', output_format='pandas')

In [ ]:
print(ts)

In [ ]:
df, metadict = ts.get_daily_adjusted(symbol = 'GOOG', outputsize='full')

In [ ]:
df.info()

In [ ]:
df.loc['2020-07-01':'2020-06-15']

In [13]:
print(ts)

<alpha_vantage.timeseries.TimeSeries object at 0x00000273FE64E7C8>

In [31]:
df, metadict = ts.get_daily_adjusted(symbol = 'GOOG', outputsize='full')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1587 entries, 2020-07-15 to 2014-03-27
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   1. open               1587 non-null   float64
 1   2. high               1587 non-null   float64
 2   3. low                1587 non-null   float64
 3   4. close              1587 non-null   float64
 4   5. adjusted close     1587 non-null   float64
 5   6. volume             1587 non-null   float64
 6   7. dividend amount    1587 non-null   float64
 7   8. split coefficient  1587 non-null   float64
dtypes: float64(8)
memory usage: 111.6 KB

In [33]:
df.loc['2020-07-01':'2020-06-15']

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-07-01,1411.10,1443.00,1409.82,1438.04,1438.04,1775600.0,0.0,1.0
2020-06-30,1390.44,1418.65,1383.96,1413.61,1413.61,2042400.0,0.0,1.0
2020-06-29,1358.18,1395.60,1347.01,1394.97,1394.97,1810200.0,0.0,1.0
2020-06-26,1431.39,1433.45,1351.99,1359.90,1359.90,4267698.0,0.0,1.0
2020-06-25,1429.90,1442.90,1420.00,1441.33,1441.33,1230474.0,0.0,1.0
2020-06-24,1461.51,1475.42,1429.75,1431.97,1431.97,1756022.0,0.0,1.0
2020-06-23,1455.64,1475.94,1445.24,1464.41,1464.41,1429764.0,0.0,1.0
2020-06-22,1429.00,1452.75,1423.21,1451.86,1451.86,1542440.0,0.0,1.0
2020-06-19,1444.00,1447.80,1421.35,1431.72,1431.72,3157875.0,0.0,1.0
2020-06-18,1449.16,1451.41,1427.01,1435.96,1435.96,1581916.0,0.0,1.0
2020-06-17,1447.16,1460.00,1431.38,1451.12,1451.12,1549615.0,0.0,1.0
2020-06-16,1445.22,1455.02,1425.90,1442.72,1442.72,1711614.0,0.0,1.0
2020-06-15,1390.80,1424.80,1387.92,1419.85,1419.85,1506096.0,0.0,1.0